<%- include header %>
<form method="post">
  borrower<input type="text" name="borrower"/><br />
  receiver<input type="text" name="receiver"/><br />
         <input type="submit" value="finance"/>
</form>
<%- include footer %>
