<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>blockchain</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">home</a></span>
<span><a title="切换公司" href="/account">account</a></span>
<span><a title="签发" href="/sign">sign</a></span>
<span><a title="转让" href="/transfer">transfer</a></span>
<span><a title="融资" href="/finance">finance</a></span>
<span><a title="结算" href="/pay">pay</a></span>
<span><a title="查询余额" href="/check">check</a></span>
</nav>

<article>
