<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include header %>
	欢迎使用
	<form method="post">
  	contract address<input type="text" name="caddr"/><br />
         <input type="submit" value="confirm"/>
    <%- include footer %>

</form>
  </body>
</html>
