<%- include header %>
<form method="post">
  amount<input type="text" name="amount"/><br />
  receiver<input type="text" name="receiver"/><br />
         <input type="submit" value="transfer receipt"/>
</form>
<%- include footer %>
